{% extends 'account/person_center.html' %}
{% load staticfiles %}
{% load i18n static %}

{% block head %}
    <title>修改手机号</title>
    <script src="{% static 'account/js/file.js' %}"></script>
{% endblock head %}

{% block person %}
<div class="tabs">
    <ul>
        <li class="is-active"><a>修改手机号</a></li>
    </ul>
</div>
<div class="content">
    <p>用户名：{{ user.username }}</p>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="module aligned">
            <div class="field">
                {{ user_info_form.as_p }}
                <!-- {{ user_info_form.user_img }} -->
            


                <!-- <div class="file has-name has-name is-boxed">
                    <label class="file-label">
                      <input class="file-input" type="file" accept="image/*" id="{{ user_info_form.user_img.id_for_label }}" name="{{ user_info_form.user_img.html_name }}">
                      <input type="file" name="user_img" class="file-input" accept="image/*" id="id_user_img"> -->
                      <!-- {{ user_info_form.user_img }} 
                      <span class="file-cta">
                        <span class="file-icon">
                          <i class="fas fa-upload"></i>
                        </span>
                        <span class="file-label">
                          Choose a file…
                        </span>
                      </span>
                      <span class="file-name">
                        {{ MEDIA_URL }}{{ user_info.user_img }}
                      </span>
                    </label>
                  </div> -->
            </div>
            <input class=" button is-primary" type="submit" value="{% trans '提交修改' %}">
        </fieldset>
    </form>
</div>
  
{% endblock person %}