<!DOCTYPE html>
{% load staticfiles %}

<html lang="cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href=" {% static 'blog/css/bulma.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/style.css' %}">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    {% block head %}
    <title>个人中心</title>
    {% endblock head %}
    
</head>
<body>
    <!-- 头部 -->
    <nav class="navbar has-shadow" role="navigation" aria-label="main navigation" style="min-height: 4rem">
    <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" href="{% url 'blog:index' %}">
            <img src="{% static 'account/images/logo.png' %}" width="112" height="28">
          </a>      
          <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
      
        <div id="navbarBasicExample" class="navbar-menu">
      
          <div class="navbar-end">
            <div class="navbar-item">
                <!-- 个人中心下拉菜单 -->
                {% block user %}
                <div class="dropdown is-hoverable">
                    <div class="dropdown-trigger">
                    <button class="button is-white" style="height: 4rem" aria-haspopup="true" aria-controls="dropdown-menu2">
                        <figure class="image is-24x24">
                            <img class="is-rounded" src="{{ MEDIA_URL }}{{ user.userinfo.user_img }}">
                        </figure> &nbsp;&nbsp;
                        <span class="has-text-grey-dark">{{ user.username }}</span>
                        <span class="icon is-small">
                        <i class="fas fa-angle-down" aria-hidden="true"></i>
                        </span>
                    </button>
                    </div>
                    <div class="dropdown-menu" id="dropdown-menu2" role="menu" >
                    <div class="dropdown-content is-shadowless">
                        <div class="dropdown-item">
                        <a class=" has-text-grey-dark" href="">
                            <span class="icon is-small">
                                <i class="fas fa-user-cog" aria-hidden="true"></i>
                            </span>&nbsp;&nbsp;
                            账号设置
                        </a>
                        </div>
                        <hr class="dropdown-divider">
                        <div class="dropdown-item">
                            <a class=" has-text-grey-dark" href=" {% url 'logout' %}">
                                <span class="icon is-small">
                                    <i class="fas fa-power-off" aria-hidden="true"></i>
                                </span>&nbsp;&nbsp;
                                退出登录
                            </a>
                        </div>
                    </div>
                    </div>
                </div>
                {% endblock user %}
             <!-- 个人中心下拉菜单 end -->
            </div>
          </div>
        </div>
    </div>
    </nav>
    <!-- 头部 end -->
    <section class="section">
        <div class="container">
            {% block section %}
            <div class="columns">
                <div class="column is-2">
                    <div class="card">
                        <header class="card-header">
                            <p class="card-header-title">个人中心</p>
                            <a href="#" class="card-header-icon" aria-label="more options">
                                <span class="icon">
                                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                                </span>
                            </a>
                        </header>
                        <div class="card-content menu">
                            <ul class="content menu-list">
                                <li><a href="{% url 'account:person' %}">个人信息</a></li>
                                <li><a href="{% url 'password_change' %}">修改密码</a></li>
                                <!-- <li><a href="{% url 'password_reset' %}">找回密码</a></li> -->
                            </ul>
                        </div>
                           
                    </div>
                    <div class="card">
                            <header class="card-header">
                                <p class="card-header-title">内容管理</p>
                                <a href="#" class="card-header-icon" aria-label="more options">
                                    <span class="icon">
                                        <i class="fas fa-angle-down" aria-hidden="true"></i>
                                    </span>
                                </a>
                            </header>
                            <div class="card-content menu">
                                <ul class="content menu-list">
                                    <li><a href="">发文章</a></li>
                                    <li><a href="">已发布</a></li>
                                    <li><a href="">草稿箱</a></li>
                                    <li><a href="">评论管理</a></li>
                                    <li><a href="">数据分析</a></li>
                                </ul>
                            </div>
                               
                    </div>
                </div>
                <div class="column is-9">
                    <div class="box is-radiusless is-shadowless">
                        {% block person %}
                        <div class="tabs">
                            <ul>
                              <li class="is-active"><a>账号信息</a></li>
                               <!-- <li><a>功能设置</a></li>
                               <li><a>黑名单</a></li>
                               <li><a>安全中心</a></li> -->
                            </ul>
                        </div>
                    <div class="content">
                        <div class="level">
                            <div class="level-left">
                                <div class="level-item">
                                   <ol>
                                       <li>用户名：{{ user.username }}</li>
                                       <li>手&nbsp;&nbsp;&nbsp; 机：{{ user.userinfo.phone }}</li>
                                   </ol>
                                </div>
                            </div>
                            <div class="level-right">
                                <div class="level-item">
                                    <a class=" button is-light" href="{% url 'account:edit_phone' %}">修改信息</a>
                                </div>
                            </div>
                        </div>
                       
                    </div>
                    {% endblock person %}
                    </div>
                </div>
            </div>
            {% endblock section %}
        </div>
    </section>

</body>
</html>